html, body {
    margin: 0;
    padding: 0;
    background: transparent;;
    font-family: sans-serif;
    color: #fff;
    user-select: none;
}

/* -------------------- TOP BAR -------------------- */

#top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32px;
    background: rgb(47, 44, 53);
    backdrop-filter: blur(5px);
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-button {
    -webkit-app-region: no-drag;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
}

.top-button:hover {
    background: rgba(91, 15, 126, 0.61);
}

/* -------------------- PANEL -------------------- */

#panel {
    position: absolute;
    top: 35px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    background: rgba(25, 25, 25, 0.9);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    align-items: center;
    justify-content: center;
    color: #ff6df8;
    user-select: text;
}

#ocr-text {
    white-space: pre-wrap;
    font-size: 18px;
}

/* -------------------- BUTTONS -------------------- */

#buttons {
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

.action-btn {
    cursor: pointer;
    padding: 6px 12px;
    background: #444;
    border-radius: 6px;
    user-select: none;
}

.action-btn:hover {
    background: #666;
}
